<IfModule mod_rewrite.c>
   RewriteEngine on
   RewriteBase /withOutComposer/
   RewriteCond %{REQUEST_FILENAME} !-f
   RewriteRule ^(.*)$ index.php?url=$1 [QSA,L]
   #RewriteRule ^(.*)withOutComposer/(.*)$ /index.php [L,R=301]
</IfModule>